<section class="section--footer">
  <div class="container">
    <div class="grid--4">
      <div>
        <ul class="footer-lists">
          <li class="footer-link-header">GLOBALSURP LLC</li>
          <li class="footer-links">
            <a href="">
              <img
                src="./images/globalsurp-favicon.png"
                class="footer-icon"
                alt="footer-icon/brand image"
                width="80"
                height="80"
              />
            </a>
          </li>
          
          <li class="footer-links">
            <a href="" class="copyright"
              >&copy; <%= date %> All rights reserved</a
            >
          </li>
        </ul>
      </div>
      <div>
        <ul class="footer-lists">
          <li class="footer-link-header">Resources</li>
          <li class="footer-links"><a href="/">Home</a></li>
          <li class="footer-links"><a href="about">about Globalsurp</a></li>
          <li class="footer-links"><a href="contact">contact globalsurp</a></li>
          <li class="footer-links"><a href="blogs">Related Articles</a></li>
        </ul>
      </div>
      <div>
        <ul class="footer-lists">
          <li class="footer-link-header">Legal</li>
          <li class="footer-links"><a href="terms">Terms & conditions</a></li>
          <li class="footer-links"><a href="privacy">Privacy policy</a></li>
          <li class="footer-links"><a href="disclaimer">Disclaimer</a></li>
          <li class="footer-links"><a href="refund">Refund Policy</a></li>
        </ul>
      </div>
      <div>
        <ul class="footer-lists">
          <li class="footer-link-header">Connect</li>
          <li class="footer-links"><a href="https://www.facebook.com/profile.php?id=61575016767287" target="_blank">Facebook</a></li>
          <li class="footer-links"><a href="https://t.me/Mjeremyalex" target="_blank">Telegram</a></li>
          <li class="footer-links"><a href="https://www.instagram.com/globalsurp?igsh=MXF4NGMweTVoOWs4YQ==" target="_blank">Instagram</a></li>
          <li class="footer-links"><a href="tel:live:.cid.b21d0bf14bb33fc" target="_blank">skype</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
</body>
</html>