<%- include('partials/header.ejs') %>

<section class="section-contact about-us">

<div class="container">

<div class="grid">
  <div
  class="emptydiv"
  role="img"
  aria-roledescription="an empty box with a background image"
>
  <h2 class="product-info">
    Amazing Tools For Your Digital Business
  </h2>
  &nbsp;
</div>
    
</div>

</div>

  <div class="container">
    <div class="grid">
      <h2 class="heading">
        Lets work together, Reach out to us via the following means
      </h1>
      <p class="advice">
        Have a question, project idea, or just want to say hello? reach out to
        us via the listed means below, and our team will get back to you as soon
        as possible!
      </p>
      <div>
        <a class="contact-links" href="mailto:jeremyalex@globalsurp.com" target="_blank" >
          GMAIL</a
        >
        <a href="tel:live:.cid.b21d0bf14bb33fc" class="contact-links" target="_blank">skype</a>
        <a class="contact-links" href="https://www.facebook.com/profile.php?id=61575016767287" target="_blank" >
          FACEBOOK</a
        >
        <a class="contact-links" href="https://t.me/Mjeremyalex" target="_blank">
          TELEGRAM</a
        >
        <a class="contact-links" href="https://www.instagram.com/globalsurp?igsh=MXF4NGMweTVoOWs4YQ==" target="_blank">
          INSTAGRAM</a
        >
      </div>
      <P class="advice"
        >Reach us through any of the provided means and expect our response</P
      >
    </div>
  </div>
</section>

<%- include('partials/footer.ejs') %>
